/* src/index.css (or index.scss/less) */

/* --- Basic Reset --- */
*, *::before, *::after {
  box-sizing: border-box; /* Essential for predictable sizing */
  /*margin: 0;*/
  padding: 0;
}

/* --- CSS Variables (Custom Properties) --- */
/* :root {
  --primary-color: #61dafb;
  --secondary-color: #282c34;
  --text-color: #333;
  --background-color: #fff;
} */

/* --- Global Styles --- */
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: lightgreen;
  background-image: linear-gradient(to left, rgba(7, 172, 42, 0), rgb(4, 106, 43));
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  height: 100%;
}

/* --- General Elements --- */
/* h1, h2, h3 {
  margin-bottom: 0.5em;
  color: var(--secondary-color);
} */

/* a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */

/* --- Root Container Styling (if needed) --- */
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  background-color: lightgreen;
  /*padding: 2rem;*/
  text-align: center;
  background-image: linear-gradient(to left, rgba(7, 172, 42, 0), rgb(4, 106, 43));
  /* height: 100%;/
  /* display:flex; */
}

